{% extends "base.html" %}
{% block content %}
{% if session['logged_in'] %}
<p>You have already logged in</p>
{% else %}

<form id="login-form" class="form" action="/register" method="post">
    <input type="text" name="username" id="username">
    <input type="password" name="password" id="password">
    <input type="submit" name="submit" value="submit">
</form>
<a href="/login">Login here</a>

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

{% endif %}
{% endblock %}